* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 500px;
    background: rgb(80, 141, 176);
    border-radius: 10px;
    font-family: sans-serif;
    padding: 20px;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;

}

.Temperature-icon {
    font-size: 40px;
    color: aliceblue;
}

h1 {
    color: aliceblue; 
    letter-spacing: 1.4px;

}

#celcius, #farenheit, #kelvin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-family: sans-serif;
   
}

input {
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.icon {
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 35px;
    background-color: rgb(10, 61, 80);
    color: aliceblue;
    border-radius: 0 8px 8px 0;
    
}

.button {
    justify-content: center;
    height : 35px;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.button button {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(10, 61, 80);
}

.button button:hover {
    background: rgb(10, 61, 80);
    color: #fff;
}